{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href={{ url_for("static", filename="server/server.css") }} >
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src={{ url_for("static", filename="server/server.js") }} ></script>

  <!-- TODO
  <script type="text/javasccript">
    window.appConfig = {}


  </script>
  -->

{% endblock %}

{% block content %}

<div id="cursor">Hello</div>


<div id="alpha">0</div>
<div id="beta">0</div>
<div id="gamma">0</div>


{% endblock %}
