{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href={{ url_for("static", filename="server/server.css") }} >
  <script type="text/javascript" src={{ url_for("static", filename="server/server.js") }} ></script>

{% endblock %}

{% block content %}

<!-- Boot message modal -->
<div id="boot">
  <div id="boot-content">
    <p>This demo has only been tested on Chrome and Android</p>
    <p>Join the room below:</p>
    <p id="room-number">{{ room_number }}</p>
    <span id="close">Click me to close</span>
  </div>
</div>

<div class="content">
  <div id="angles">
    <p>Alpha</p>
    <div id="alpha">0</div>
    <p>Beta</p>
    <div id="beta">0</div>
    <p>Gamma</p>
    <div id="gamma">0</div>
  </div>
</div>


{% endblock %}
