{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href={{ url_for("static", filename="server/server.css") }} >
  <script type="text/javascript" src={{ url_for("static", filename="server/server.js") }} ></script>

  <!-- TODO
  <script type="text/javasccript">
    window.appConfig = {}


  </script>
  -->

{% endblock %}

{% block content %}

<img src={{ url_for("static", filename="server/cursor.png") }}  width="50" id="cursor">


<div id="alpha">0</div>
<div id="beta">0</div>
<div id="gamma">0</div>
<p id="room">{{ room }}</p>


{% endblock %}
