{% extends "base.html" %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href={{ url_for("static", filename="client/connect.css") }} >
{% endblock %}

{% block content %}
<div id="form-wrapper">                                        
  <p>Point your phone at the centre of the screen and join the room.</p>
  <form method="POST" action="/controller">
    {{ form.csrf_token }}
    {{ form.room }}
    <input type="submit" value="Join room">
  </form>
</div>
{% endblock %}
