{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <script type="text/javascript" src={{ url_for("static", filename="client/controller.js") }} ></script>
  <link type="text/css" rel="stylesheet" href={{ url_for("static", filename="icons.css") }}>
  <link type="text/css" rel="stylesheet" href={{ url_for("static", filename="client/controller.css") }}>
{% endblock %}

{% block content %}
  <h1 id=room>{{ room }}</h1>
  <div class="a_button" class="not-selectable" onselectstart="return false">A</div>
{% endblock %}
